# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
import pandas as pd

In [2]:
id1 = "211695234"

In [3]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

#df = pd.DataFrame([id1,id2])

In [4]:
df.to_clipboard(index=False,header=False)

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/introduction.html#not-implemented-error

Please fill your names here: Maayan Elkarif

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [5]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

In [6]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
month = (vacc_df['date'].dt.month_name()== 'April')
my_month = vacc_df [month].copy()
my_month
#vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
38,Afghanistan,AFG,2021-04-01,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,77.0
39,Afghanistan,AFG,2021-04-02,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,77.0
40,Afghanistan,AFG,2021-04-03,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,77.0
41,Afghanistan,AFG,2021-04-04,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,77.0
42,Afghanistan,AFG,2021-04-05,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...
38684,Zimbabwe,ZWE,2021-04-26,411610.0,353834.0,57776.0,21592.0,13517.0,2.77,2.38,0.39,909.0
38685,Zimbabwe,ZWE,2021-04-27,433939.0,370676.0,63263.0,22329.0,15562.0,2.92,2.49,0.43,1047.0
38686,Zimbabwe,ZWE,2021-04-28,458013.0,388021.0,69992.0,24074.0,17860.0,3.08,2.61,0.47,1202.0
38687,Zimbabwe,ZWE,2021-04-29,477597.0,400771.0,76826.0,19584.0,17971.0,3.21,2.70,0.52,1209.0
38688,Zimbabwe,ZWE,2021-04-30,500342.0,414735.0,85607.0,22745.0,19194.0,3.37,2.79,0.58,1291.0

In [7]:
my_month.shape[0]

6118

# Q2

In [8]:
vacc_df[['people_vaccinated_per_hundred' , 'daily_vaccinations']] = vacc_df.groupby('location')[['people_vaccinated_per_hundred' , 'daily_vaccinations']].apply(lambda x: x.fillna(method='bfill'))
month = (vacc_df['date'].dt.month_name()== 'April')
my_month = vacc_df [month].copy()
my_month

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
38,Afghanistan,AFG,2021-04-01,NaN,NaN,NaN,NaN,3000.0,NaN,0.31,NaN,77.0
39,Afghanistan,AFG,2021-04-02,NaN,NaN,NaN,NaN,3000.0,NaN,0.31,NaN,77.0
40,Afghanistan,AFG,2021-04-03,NaN,NaN,NaN,NaN,3000.0,NaN,0.31,NaN,77.0
41,Afghanistan,AFG,2021-04-04,NaN,NaN,NaN,NaN,3000.0,NaN,0.31,NaN,77.0
42,Afghanistan,AFG,2021-04-05,NaN,NaN,NaN,NaN,3000.0,NaN,0.31,NaN,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...
38684,Zimbabwe,ZWE,2021-04-26,411610.0,353834.0,57776.0,21592.0,13517.0,2.77,2.38,0.39,909.0
38685,Zimbabwe,ZWE,2021-04-27,433939.0,370676.0,63263.0,22329.0,15562.0,2.92,2.49,0.43,1047.0
38686,Zimbabwe,ZWE,2021-04-28,458013.0,388021.0,69992.0,24074.0,17860.0,3.08,2.61,0.47,1202.0
38687,Zimbabwe,ZWE,2021-04-29,477597.0,400771.0,76826.0,19584.0,17971.0,3.21,2.70,0.52,1209.0
38688,Zimbabwe,ZWE,2021-04-30,500342.0,414735.0,85607.0,22745.0,19194.0,3.37,2.79,0.58,1291.0

In [9]:
my_month['daily_vaccinations'].isnull().sum()

2

מדוע בחרנו למלא כך את הערכים?

# Q3

In [12]:
new_month = my_month[~my_month['location'].isin(['Asia' , 'Africa' , 'Usa' , 'Europe' , 'World' , 'Upper middle income' , 'High income'])]
daily_vacc_max = new_month['daily_vaccinations'].max()
new_month[['location' , 'date']].loc[new_month['daily_vaccinations']==daily_vacc_max]

     location       date
7087    China 2021-04-30

# Q4

In [ ]:
my_month['daily_vaccinations'].mean()

In [ ]:
my_month['daily_vaccinations'].median()

מי לדעתינו יותר גדול?
הממוצע הרבה יותר מהחציון כיוון שיש נתונים מספריים מאד גדולים, והממוצע שלהם גדול.

# Q5

In [ ]:
my_month_Israel = my_month.loc[my_month ['location'] == 'Israel' , ['people_vaccinated_per_hundred']]
my_month_Israel.iloc[:7].mean()

# Q6

In [ ]:
new_month = my_month.groupby('location')[['people_vaccinated_per_hundred' , 'date']].max()
max_values = new_month.sort_values(by = 'people_vaccinated_per_hundred' , ascending = False)
max_values.head(3)

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line